{{#if navigation.length}}
{{#each navigation}}
<li data-depth="{{or ../level 0}}">
  {{#if ./content}}

  {{#if ./items.length}}
  <strong class="bd-links-heading d-flex w-100 align-items-center fw-semibold">
    {{{./content}}}
  </strong>
  {{/if}}

  {{#if ./url}}
  <a class="bd-links-link d-inline-block rounded {{#if (eq @root.page.url ./url)}} active{{/if}}" href="
      {{~#if (eq ./urlType 'internal')}}{{{relativize ./url}}}
      {{~else}}{{{./url}}}{{~/if}}">{{{./content}}}</a>
  {{/if}}

  {{/if}}

  {{#if ./items.length}}
  <ul class="list-unstyled fw-normal pb-2 small">
    {{/if}}
    {{> nav-tree navigation=./items level=(increment ../level)}}
    {{#if ./items.length}}
  </ul>
  {{/if}}
</li>
{{/each}}
{{/if}}